body {
    background-color: blue;
    color: white;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-decoration: underline;
}

p {
    font-size: 15px;
}

nav {
    text-align: center;
}
nav li{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
    padding: 20px;
    margin-right: 15px;
    align-items: center;
    
 }

 main img {
    width: 100%
 }

 .fphotos {
   flex-direction: row;
 }